.skills{
    /* padding: 50px 0;
    text-align: center; */
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: auto;

}

.skill-box{
    place-self: center;
   padding: 20px;
   width: 200px;
    height: 200px;
    margin: 20px;    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.skills span{
    font-size: 5rem;
    /* font-family:    'Roboto', sans-serif; */
    opacity: 0.5;
}

.skills span:hover{
    font-size: 5rem;
    font-style: italic;
    opacity: 1;
}



@media screen and (max-width: 768px) {
    .skill-container{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .skill-box{
        width: 100px;
        height: 100px;
        padding: 10px;
        margin: 10px;
    }
    .skills span{
        font-size: 1.8rem;
        opacity: 0.5;
    }
    .skills span:hover{
        font-size: 1.8rem;
        font-style: italic;
        opacity: 1;
    }

}

